%table.current-stats{class: (@jukebox.powered? ? 'powered-up' : 'powered-down')}
  %tr
    %th Powered?
    %td= @jukebox.powered?
  %tr
    %th Status
    %td= @jukebox.status
  %tr
    %th Play Time Remaining
    %td.right= @jukebox.time_remaining.to_hms
  %tr
    %th Public Controllable?
    %td= @jukebox.public_controllable?
  %tr
    %th Private Controllable?
    %td= @jukebox.private_controllable?
  %tr
    %th Audio Connection Required
    %td=  @audio_stream_monitor.require_audio_connection?
  %tr
    %th Current Audio Connections (#{@audio_stream.current_audio_connection_count})
    %td!= @audio_stream.current_audio_connections.join("</br>")
  %tr
    %th Time Since Last Connection
    %td.right!= @audio_stream_monitor.last_connection_ago.to_hms
  %tr
    %th FM Radio Transmitter
    %td
      - if RadioTransmitter.running?
        BROADCASTING</br>
        on #{RadioTransmitter.frequency} MHz
      - else
        off
  %tr
    %th Elapsed Needle Time
    %td.right= @needle_odometer.current_value.to_hms

  %tr
    %th USB Device Serial
    %td= @usb_hid_relay.get_device_serial

  - if (error_message = @usb_hid_relay.get_device_error)
    %tr
      %th USB Device Error
      %td= error_message

  %tr
    %th Audio Stream PID
    %td= @audio_stream.pid
